@import "../global.scss";

.adv_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 1240px;
    column-gap: 41px;
    .adv_article{
        display: grid;
        row-gap: 24px;
        
        .adv_icon{
            max-width: 32px;
            margin-bottom: 40px;
        }
        h3{
            min-height: 56px;
            align-self: start;
            font-size: 22px;
            font-weight: bold;
            font-family: 'Merriweather', serif;
        }
        p{
            align-self: end;
            font-weight: 500;
            color: #000;
            opacity: 0.5;
            font-family: 'Montserrat', sans-serif;
        }
    }
}



